<div class="row">
  <%= link_to new_trip_path, class:"add-trip-link", remote:true do %>
    <i class="fa fa-plane"></i> Add Trip
  <% end %>
  <div class="col-md-6 col-md-offset-3 center">
    <div id="trip-form" style="display:none;"></div>
  </div>
</div>

<h2 class="center">My Trips</h2>

<%= render @trips %>	







